In [1]:
import pandas as pd

In [14]:
df1 = pd.read_csv('편의시설 변경 버전.csv')
df1.head(3)

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설,유흥주점
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,16,0.0,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0,0,1,0,0,1,11,0.0,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0.0,0.0,0.0

In [27]:
df = pd.read_csv('dataset/leisure/서울시 체력단련장업 인허가 정보.csv',encoding='cp949')
df.head(3)

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,좌표정보(Y),문화체육업종명,공사립구분명,보험가입여부코드,지도자수,건축물동수,건축물연면적,회원모집총인원,세부업종명,법인명
0,3040000,CDFH3301062023000004,2023-02-28,NaN,1,영업/정상,13,영업중,NaN,NaN,...,449668.698815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3150000,CDFH3301062021000014,2021-06-02,NaN,1,영업/정상,13,영업중,NaN,NaN,...,447625.801061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3050000,CDFH3301062015000004,2015-11-09,NaN,1,영업/정상,13,영업중,NaN,NaN,...,452322.526331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '문화체육업종명', '공사립구분명',
       '보험가입여부코드', '지도자수', '건축물동수', '건축물연면적', '회원모집총인원', '세부업종명', '법인명'],
      dtype='object')

In [30]:
df = df[['도로명주소','상세영업상태명']]

In [31]:
df

                                              도로명주소 상세영업상태명
0                  서울특별시 광진구 자양로 257, 국제빌딩 3층 (구의동)     영업중
1              서울특별시 강서구 곰달래로 125, 401호 (화곡동, 라인씨티)     영업중
2                      서울특별시 동대문구 전농로 91, 5층 (답십리동)     영업중
3                  서울특별시 송파구 동남로 238, 오성빌딩 5층 (가락동)     영업중
4                       서울특별시 영등포구 선유로49길 4 (양평동4가)     영업중
...                                             ...     ...
6053       서울특별시 성동구 금호로 117, B218호 (금호동2가, 금호자이1차)     영업중
6054                   서울특별시 관악구 신림로64길 9, 3층 (신림동)     영업중
6055  서울특별시 영등포구 여의대방로 25, 지하101호 (신길동, 보라매 경남아너스빌)     영업중
6056                서울특별시 강남구 도곡로 204 (도곡동,동신빌딩 B1)      폐업
6057   서울특별시 마포구 월드컵로 134, 금수빌딩 지하1층,지하2층 일부호 (성산동)     영업중

[6058 rows x 2 columns]

In [32]:
df['법정동'] = df['도로명주소'].str.extract('.*\(([^)]+)\)$')
df = df[['상세영업상태명','법정동']]

In [33]:
df

     상세영업상태명              법정동
0        영업중              구의동
1        영업중        화곡동, 라인씨티
2        영업중             답십리동
3        영업중              가락동
4        영업중            양평동4가
...      ...              ...
6053     영업중    금호동2가, 금호자이1차
6054     영업중              신림동
6055     영업중  신길동, 보라매 경남아너스빌
6056      폐업      도곡동,동신빌딩 B1
6057     영업중              성산동

[6058 rows x 2 columns]

In [34]:
# '법정동' 컬럼에서 '동'으로 끝나는 부분만 추출
df['법정동'] = df['법정동'].str.extract('([가-힣]+동)')

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_5976\3944674114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['법정동'] = df['법정동'].str.extract('([가-힣]+동)')

In [35]:
df

     상세영업상태명   법정동
0        영업중   구의동
1        영업중   화곡동
2        영업중  답십리동
3        영업중   가락동
4        영업중   양평동
...      ...   ...
6053     영업중   금호동
6054     영업중   신림동
6055     영업중   신길동
6056      폐업   도곡동
6057     영업중   성산동

[6058 rows x 2 columns]

In [36]:
df = df[(df['상세영업상태명'] == '영업중') & pd.notnull(df['법정동'])]

In [39]:
df

     상세영업상태명   법정동
0        영업중   구의동
1        영업중   화곡동
2        영업중  답십리동
3        영업중   가락동
4        영업중   양평동
...      ...   ...
6052     영업중   진관동
6053     영업중   금호동
6054     영업중   신림동
6055     영업중   신길동
6057     영업중   성산동

[3619 rows x 2 columns]

In [40]:
df = df['법정동'].value_counts()

In [41]:
df

법정동
서초동     126
역삼동     113
논현동      84
봉천동      84
신림동      76
       ...
중림동       1
저동        1
효창동       1
서빙고동      1
필동        1
Name: count, Length: 254, dtype: int64

In [42]:
merged_df = pd.merge(df1, df, left_on='법정동명', right_on='법정동', how='left')

In [44]:
merged_df

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설,유흥주점,count
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,16,0.0,0.0,0.0,NaN
1,신교동,0,0,0,0,0,0,2,0,1,...,0,1,0,0,1,11,0.0,0.0,0.0,NaN
2,궁정동,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,4,0.0,0.0,0.0,NaN
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,16,0.0,0.0,0.0,NaN
4,창성동,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,23,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,2,0,1,15,5,190,0.0,0.0,0.0,10.0
461,암사동,1,29,3,8,3,2,23,0,22,...,1,1,1,29,12,422,4.0,0.0,2.0,19.0
462,성내동,1,54,3,14,4,4,35,19,34,...,1,1,0,60,25,994,3.0,2.0,3.0,38.0
463,천호동,3,51,3,7,3,5,47,6,37,...,1,1,0,44,22,1024,3.0,3.0,15.0,18.0
464,강일동,0,49,0,1,0,1,9,0,8,...,1,0,4,1,1,59,0.0,0.0,0.0,3.0

In [45]:
merged_df = merged_df.rename(columns={'count': '헬스시설'})
merged_df['헬스시설'].fillna(0, inplace=True)
merged_df

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_5976\377756670.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['헬스시설'].fillna(0, inplace=True)

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설,유흥주점,헬스시설
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,16,0.0,0.0,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0,1,0,0,1,11,0.0,0.0,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,4,0.0,0.0,0.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,16,0.0,0.0,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,23,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,2,0,1,15,5,190,0.0,0.0,0.0,10.0
461,암사동,1,29,3,8,3,2,23,0,22,...,1,1,1,29,12,422,4.0,0.0,2.0,19.0
462,성내동,1,54,3,14,4,4,35,19,34,...,1,1,0,60,25,994,3.0,2.0,3.0,38.0
463,천호동,3,51,3,7,3,5,47,6,37,...,1,1,0,44,22,1024,3.0,3.0,15.0,18.0
464,강일동,0,49,0,1,0,1,9,0,8,...,1,0,4,1,1,59,0.0,0.0,0.0,3.0

In [46]:
merged_df

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설,유흥주점,헬스시설
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,16,0.0,0.0,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0,1,0,0,1,11,0.0,0.0,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,4,0.0,0.0,0.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,16,0.0,0.0,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,23,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,2,0,1,15,5,190,0.0,0.0,0.0,10.0
461,암사동,1,29,3,8,3,2,23,0,22,...,1,1,1,29,12,422,4.0,0.0,2.0,19.0
462,성내동,1,54,3,14,4,4,35,19,34,...,1,1,0,60,25,994,3.0,2.0,3.0,38.0
463,천호동,3,51,3,7,3,5,47,6,37,...,1,1,0,44,22,1024,3.0,3.0,15.0,18.0
464,강일동,0,49,0,1,0,1,9,0,8,...,1,0,4,1,1,59,0.0,0.0,0.0,3.0

In [ ]:
merged_df['법정동명'] == ''

In [47]:
merged_df.to_csv('편의시설 변경 버전.csv', index=False)