In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("매물 좌표.csv", encoding='cp949', index_col=0)

In [29]:
df

,origin_index,address,cordinates
0,0,서울 종로구 명륜3가 1-1028,"('37.5908824081973', '126.993555345941')"
1,1,서울 강남구 자곡동 655,"('37.4743936237496', '127.104066621552')"
2,2,서울 은평구 신사동 1-103,"('37.6008728050388', '126.911329267344')"
3,3,서울 강남구 자곡동 655,"('37.4743936237496', '127.104066621552')"
4,4,서울 동대문구 전농동 597-11,"('37.5827880069986', '127.048948275543')"
...,...,...,...
166222,428361,서울 강남구 청담동 23,"('37.521439510313', '127.040599588136')"
166223,428362,서울 강남구 역삼동 762-3,"('37.4951650013344', '127.047244552337')"
166224,428363,서울 광진구 자양동 553-278,"('37.5362255643003', '127.06678794715')"
166225,428364,서울 노원구 상계동 1256,"('37.6799630377746', '127.053504710908')"
166226,428365,서울 강서구 마곡동 739-2,"('37.5671951934132', '126.817774697643')"

In [31]:
df

origin_index                                           5
address                                  서울 성동구 행당동 1-23
cordinates      ('37.5616995166551', '127.039520835166')
Name: 5, dtype: object

In [32]:
mamul = pd.read_csv("mamul.csv")

In [36]:
mamul = mamul[mamul['전월세구분'] == '월세']

In [39]:
mamul.reset_index(drop=True, inplace=True)

In [41]:
mamul = mamul.reset_index().rename(columns={'index': 'origin_index'})

In [42]:
mamul

,origin_index,접수연도,자치구명,법정동명,본번,부번,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,지번주소
0,0,2023,종로구,명륜3가,1,1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,서울특별시 종로구 명륜3가 1-1028
1,1,2023,강남구,자곡동,655,0,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,서울특별시 강남구 자곡동 655-0
2,2,2023,은평구,신사동,1,103,5,월세,56.02,3000,50,(1-103),2011,연립다세대,서울특별시 은평구 신사동 1-103
3,3,2023,강남구,자곡동,655,0,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,서울특별시 강남구 자곡동 655-0
4,4,2023,동대문구,전농동,597,11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,서울특별시 동대문구 전농동 597-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428361,428361,2021,강남구,청담동,23,0,2,월세,84.76,3000,180,현대아파트,1988,아파트,서울특별시 강남구 청담동 23-0
428362,428362,2021,강남구,역삼동,762,3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,서울특별시 강남구 역삼동 762-3
428363,428363,2021,광진구,자양동,553,278,3,월세,92.51,200,19,경보주택,1983,연립다세대,서울특별시 광진구 자양동 553-278
428364,428364,2021,노원구,상계동,1256,0,7,월세,49.77,2000,60,은빛2단지,1998,아파트,서울특별시 노원구 상계동 1256-0
428365,428365,2021,강서구,마곡동,739,2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,서울특별시 강서구 마곡동 739-2

In [75]:
# 이제 df1과 df2_reset을 'origin_index'를 기준으로 합칩니다.
merged_df = pd.merge(df, mamul, on='origin_index', how='inner')

In [76]:
merged_df = merged_df.drop(axis=1, columns=['지번주소','origin_index'])

In [77]:
merged_df

,address,cordinates,접수연도,자치구명,법정동명,본번,부번,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도
0,서울 종로구 명륜3가 1-1028,"('37.5908824081973', '126.993555345941')",2023,종로구,명륜3가,1,1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대
1,서울 강남구 자곡동 655,"('37.4743936237496', '127.104066621552')",2023,강남구,자곡동,655,0,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔
2,서울 은평구 신사동 1-103,"('37.6008728050388', '126.911329267344')",2023,은평구,신사동,1,103,5,월세,56.02,3000,50,(1-103),2011,연립다세대
3,서울 강남구 자곡동 655,"('37.4743936237496', '127.104066621552')",2023,강남구,자곡동,655,0,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔
4,서울 동대문구 전농동 597-11,"('37.5827880069986', '127.048948275543')",2023,동대문구,전농동,597,11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166222,서울 강남구 청담동 23,"('37.521439510313', '127.040599588136')",2021,강남구,청담동,23,0,2,월세,84.76,3000,180,현대아파트,1988,아파트
166223,서울 강남구 역삼동 762-3,"('37.4951650013344', '127.047244552337')",2021,강남구,역삼동,762,3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트
166224,서울 광진구 자양동 553-278,"('37.5362255643003', '127.06678794715')",2021,광진구,자양동,553,278,3,월세,92.51,200,19,경보주택,1983,연립다세대
166225,서울 노원구 상계동 1256,"('37.6799630377746', '127.053504710908')",2021,노원구,상계동,1256,0,7,월세,49.77,2000,60,은빛2단지,1998,아파트
166226,서울 강서구 마곡동 739-2,"('37.5671951934132', '126.817774697643')",2021,강서구,마곡동,739,2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔

In [78]:
merged_df['법정동명'].value_counts()

법정동명
봉천동    3949
마곡동    3453
화곡동    3357
독산동    3250
잠실동    3226
       ...
돈의동       2
남창동       1
관철동       1
체부동       1
계동        1
Name: count, Length: 372, dtype: int64

In [79]:
# 'cordinates' 컬럼에서 괄호와 따옴표를 제거합니다.
coordinates_df = merged_df['cordinates'].str.replace("[()']", "", regex=True).str.split(',', expand=True)

# 분리된 데이터프레임의 컬럼 이름을 'x', 'y'로 지정합니다.
coordinates_df.columns = ['x', 'y']

# 원본 데이터프레임에 새로운 'x', 'y' 컬럼을 추가합니다.
merged_df['x'] = coordinates_df['x'].str.strip()  # 공백 제거
merged_df['y'] = coordinates_df['y'].str.strip()  # 공백 제거

In [80]:
merged_df

,address,cordinates,접수연도,자치구명,법정동명,본번,부번,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y
0,서울 종로구 명륜3가 1-1028,"('37.5908824081973', '126.993555345941')",2023,종로구,명륜3가,1,1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941
1,서울 강남구 자곡동 655,"('37.4743936237496', '127.104066621552')",2023,강남구,자곡동,655,0,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
2,서울 은평구 신사동 1-103,"('37.6008728050388', '126.911329267344')",2023,은평구,신사동,1,103,5,월세,56.02,3000,50,(1-103),2011,연립다세대,37.6008728050388,126.911329267344
3,서울 강남구 자곡동 655,"('37.4743936237496', '127.104066621552')",2023,강남구,자곡동,655,0,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
4,서울 동대문구 전농동 597-11,"('37.5827880069986', '127.048948275543')",2023,동대문구,전농동,597,11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166222,서울 강남구 청담동 23,"('37.521439510313', '127.040599588136')",2021,강남구,청담동,23,0,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136
166223,서울 강남구 역삼동 762-3,"('37.4951650013344', '127.047244552337')",2021,강남구,역삼동,762,3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337
166224,서울 광진구 자양동 553-278,"('37.5362255643003', '127.06678794715')",2021,광진구,자양동,553,278,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715
166225,서울 노원구 상계동 1256,"('37.6799630377746', '127.053504710908')",2021,노원구,상계동,1256,0,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908
166226,서울 강서구 마곡동 739-2,"('37.5671951934132', '126.817774697643')",2021,강서구,마곡동,739,2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643

In [81]:
merged_df = merged_df.drop(axis=1, columns=['cordinates'])
merged_df

,address,접수연도,자치구명,법정동명,본번,부번,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y
0,서울 종로구 명륜3가 1-1028,2023,종로구,명륜3가,1,1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941
1,서울 강남구 자곡동 655,2023,강남구,자곡동,655,0,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
2,서울 은평구 신사동 1-103,2023,은평구,신사동,1,103,5,월세,56.02,3000,50,(1-103),2011,연립다세대,37.6008728050388,126.911329267344
3,서울 강남구 자곡동 655,2023,강남구,자곡동,655,0,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
4,서울 동대문구 전농동 597-11,2023,동대문구,전농동,597,11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166222,서울 강남구 청담동 23,2021,강남구,청담동,23,0,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136
166223,서울 강남구 역삼동 762-3,2021,강남구,역삼동,762,3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337
166224,서울 광진구 자양동 553-278,2021,광진구,자양동,553,278,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715
166225,서울 노원구 상계동 1256,2021,노원구,상계동,1256,0,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908
166226,서울 강서구 마곡동 739-2,2021,강서구,마곡동,739,2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643

## 신사동(은평구)는 드랍, 신정동(마포구)는 드랍

In [92]:
# 원래의 데이터프레임을 'merged_df'라고 가정합니다.
# '자치구명'이 '마포구'가 아니거나 '법정동명'이 '신정동'이 아닌 데이터만 필터링하여 선택합니다.
cleaned_df = merged_df[~((merged_df['자치구명'] == '마포구') & (merged_df['법정동명'] == '신정동'))]
cleaned_df = merged_df[~((merged_df['자치구명'] == '은평구') & (merged_df['법정동명'] == '신사동'))]

# 결과 확인
cleaned_df

,address,접수연도,자치구명,법정동명,본번,부번,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y
0,서울 종로구 명륜3가 1-1028,2023,종로구,명륜3가,1,1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941
1,서울 강남구 자곡동 655,2023,강남구,자곡동,655,0,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
3,서울 강남구 자곡동 655,2023,강남구,자곡동,655,0,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
4,서울 동대문구 전농동 597-11,2023,동대문구,전농동,597,11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543
5,서울 성동구 행당동 1-23,2023,성동구,행당동,1,23,3,월세,17.09,3000,40,(1-23),2002,연립다세대,37.5616995166551,127.039520835166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166222,서울 강남구 청담동 23,2021,강남구,청담동,23,0,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136
166223,서울 강남구 역삼동 762-3,2021,강남구,역삼동,762,3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337
166224,서울 광진구 자양동 553-278,2021,광진구,자양동,553,278,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715
166225,서울 노원구 상계동 1256,2021,노원구,상계동,1256,0,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908
166226,서울 강서구 마곡동 739-2,2021,강서구,마곡동,739,2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643

In [93]:
cleaned_df

,address,접수연도,자치구명,법정동명,본번,부번,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y
0,서울 종로구 명륜3가 1-1028,2023,종로구,명륜3가,1,1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941
1,서울 강남구 자곡동 655,2023,강남구,자곡동,655,0,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
3,서울 강남구 자곡동 655,2023,강남구,자곡동,655,0,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
4,서울 동대문구 전농동 597-11,2023,동대문구,전농동,597,11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543
5,서울 성동구 행당동 1-23,2023,성동구,행당동,1,23,3,월세,17.09,3000,40,(1-23),2002,연립다세대,37.5616995166551,127.039520835166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166222,서울 강남구 청담동 23,2021,강남구,청담동,23,0,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136
166223,서울 강남구 역삼동 762-3,2021,강남구,역삼동,762,3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337
166224,서울 광진구 자양동 553-278,2021,광진구,자양동,553,278,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715
166225,서울 노원구 상계동 1256,2021,노원구,상계동,1256,0,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908
166226,서울 강서구 마곡동 739-2,2021,강서구,마곡동,739,2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643

## 본번 부번 접수연도 드랍해버리자

In [96]:
cleaned_df.drop(axis=1, columns=['본번','부번','접수연도'], inplace=True)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_4560\3092433357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.drop(axis=1, columns=['본번','부번','접수연도'], inplace=True)

In [98]:
cleaned_df

,address,자치구명,법정동명,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y
0,서울 종로구 명륜3가 1-1028,종로구,명륜3가,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941
1,서울 강남구 자곡동 655,강남구,자곡동,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
3,서울 강남구 자곡동 655,강남구,자곡동,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552
4,서울 동대문구 전농동 597-11,동대문구,전농동,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543
5,서울 성동구 행당동 1-23,성동구,행당동,3,월세,17.09,3000,40,(1-23),2002,연립다세대,37.5616995166551,127.039520835166
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166222,서울 강남구 청담동 23,강남구,청담동,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136
166223,서울 강남구 역삼동 762-3,강남구,역삼동,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337
166224,서울 광진구 자양동 553-278,광진구,자양동,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715
166225,서울 노원구 상계동 1256,노원구,상계동,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908
166226,서울 강서구 마곡동 739-2,강서구,마곡동,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643

## 법정동과 구를 pk로 바꿔주자

In [102]:
gu = pd.read_csv("자치구.csv", encoding='cp949', sep=";")
gu.head(2)

   gu_id gu_name
0      1     강남구
1      2     강동구

In [104]:
new = pd.merge(cleaned_df, gu, left_on='자치구명', right_on='gu_name', how='left')

In [107]:
new

,address,자치구명,법정동명,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y,gu_id,gu_name
0,서울 종로구 명륜3가 1-1028,종로구,명륜3가,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941,23,종로구
1,서울 강남구 자곡동 655,강남구,자곡동,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552,1,강남구
2,서울 강남구 자곡동 655,강남구,자곡동,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552,1,강남구
3,서울 동대문구 전농동 597-11,동대문구,전농동,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543,11,동대문구
4,서울 성동구 행당동 1-23,성동구,행당동,3,월세,17.09,3000,40,(1-23),2002,연립다세대,37.5616995166551,127.039520835166,16,성동구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165853,서울 강남구 청담동 23,강남구,청담동,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136,1,강남구
165854,서울 강남구 역삼동 762-3,강남구,역삼동,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337,1,강남구
165855,서울 광진구 자양동 553-278,광진구,자양동,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715,6,광진구
165856,서울 노원구 상계동 1256,노원구,상계동,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908,9,노원구
165857,서울 강서구 마곡동 739-2,강서구,마곡동,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643,4,강서구

In [112]:
dong = pd.read_csv("군집 결과.csv", index_col=0)
dong['dong_id'] = dong.index + 1
dong = dong[['법정동명','dong_id']]
dong

    법정동명  dong_id
0    청운동        1
1    신교동        2
2    궁정동        3
3    효자동        4
4    창성동        5
..   ...      ...
460  둔촌동      461
461  암사동      462
462  성내동      463
463  천호동      464
464  강일동      465

[465 rows x 2 columns]

In [113]:
new = pd.merge(new, dong, left_on='법정동명', right_on='법정동명', how='left')
new

,address,자치구명,법정동명,층,전월세구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,x,y,gu_id,gu_name,dong_id
0,서울 종로구 명륜3가 1-1028,종로구,명륜3가,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941,23,종로구,73
1,서울 강남구 자곡동 655,강남구,자곡동,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552,1,강남구,439
2,서울 강남구 자곡동 655,강남구,자곡동,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552,1,강남구,439
3,서울 동대문구 전농동 597-11,동대문구,전농동,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543,11,동대문구,225
4,서울 성동구 행당동 1-23,성동구,행당동,3,월세,17.09,3000,40,(1-23),2002,연립다세대,37.5616995166551,127.039520835166,16,성동구,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165853,서울 강남구 청담동 23,강남구,청담동,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136,1,강남구,433
165854,서울 강남구 역삼동 762-3,강남구,역삼동,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337,1,강남구,431
165855,서울 광진구 자양동 553-278,광진구,자양동,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715,6,광진구,219
165856,서울 노원구 상계동 1256,노원구,상계동,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908,9,노원구,288
165857,서울 강서구 마곡동 739-2,강서구,마곡동,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643,4,강서구,353

## 자치구명, 법정동명, gu_name 드랍

In [115]:
new = new.drop(axis=1, columns=['자치구명', '법정동명', 'gu_name'])

In [117]:
new.rename(columns={'층': 'floor', '전월세구분' : 'buildingtype', '임대면적(㎡)' : 'area', '건물명' : 'name', '건축년도' : 'year'}, inplace=True)

In [119]:
new.rename(columns={'buildingtype': 'pay_type', '건물용도' : 'building_type'}, inplace=True)

In [120]:
new

,address,floor,pay_type,area,보증금(만원),임대료(만원),name,year,building_type,x,y,gu_id,dong_id
0,서울 종로구 명륜3가 1-1028,1,월세,83.37,1000,85,(1-1028),1976,연립다세대,37.5908824081973,126.993555345941,23,73
1,서울 강남구 자곡동 655,2,월세,19.97,5000,42,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552,1,439
2,서울 강남구 자곡동 655,7,월세,21.87,1000,65,\t강남 푸르지오시티 2차(PRUGIO CITYⅡ)\t,2014,오피스텔,37.4743936237496,127.104066621552,1,439
3,서울 동대문구 전농동 597-11,10,월세,19.99,1000,63,\t청량리역DUO196\t,2015,오피스텔,37.5827880069986,127.048948275543,11,225
4,서울 성동구 행당동 1-23,3,월세,17.09,3000,40,(1-23),2002,연립다세대,37.5616995166551,127.039520835166,16,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165853,서울 강남구 청담동 23,2,월세,84.76,3000,180,현대아파트,1988,아파트,37.521439510313,127.040599588136,1,433
165854,서울 강남구 역삼동 762-3,14,월세,84.87,63000,158,래미안그레이튼(진달래2차),2010,아파트,37.4951650013344,127.047244552337,1,431
165855,서울 광진구 자양동 553-278,3,월세,92.51,200,19,경보주택,1983,연립다세대,37.5362255643003,127.06678794715,6,219
165856,서울 노원구 상계동 1256,7,월세,49.77,2000,60,은빛2단지,1998,아파트,37.6799630377746,127.053504710908,9,288
165857,서울 강서구 마곡동 739-2,12,월세,20.24,500,47,우성르보아투,2015,오피스텔,37.5671951934132,126.817774697643,4,353

In [135]:
new.rename(columns={'보증금(만원)': 'deposit', '임대료(만원)' : 'monthly_pay'}, inplace=True)

In [137]:
new.to_csv("final_dataset/mamul.csv", encoding='cp949', index=0)