In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('dataset/편의시설 변경 버전.csv', index_col=0)
df1.head(3)

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,의원,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,1,0,0,1,0,0,1,11,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0.0,0.0

In [4]:
df = pd.read_csv('dataset/safety/서울시 유흥주점영업 인허가 정보 (1).csv',encoding='cp949')
df.head(3)

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3220000,3220000-102-2018-00006,2018-12-11,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3230000,3230000-102-2017-00004,2017-05-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3130000,3130000-102-2002-00004,20021029,NaN,3,폐업,2,폐업,20130620,NaN,...,NaN,NaN,NaN,NaN,NaN,N,82.4,NaN,NaN,NaN

In [5]:
df.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [6]:
df = df[['도로명주소','상세영업상태명']]

In [7]:
df['법정동'] = df['도로명주소'].str.extract('.*\(([^)]+)\)$')
df = df[['상세영업상태명','법정동']]

In [8]:
df

     상세영업상태명                         법정동
0         영업                         역삼동
1         영업                  가락동, 거북이빌딩
2         폐업                         NaN
3         영업                         신길동
4         영업                         잠원동
...      ...                         ...
4923      영업  여의도동, 에리트빌딩 지하101,102,103호
4924      폐업                          길동
4925      폐업                          길동
4926      폐업                       길동,지층
4927      영업                   시흥동, 지하1층

[4928 rows x 2 columns]

In [9]:
# '법정동' 컬럼에서 '동'으로 끝나는 부분만 추출
df['법정동'] = df['법정동'].str.extract('([가-힣]+동)')

In [10]:
df = df[(df['상세영업상태명'] == '영업') & pd.notnull(df['법정동'])]

In [11]:
df1

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,의원,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,1,0,0,1,0,0,1,11,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,16,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,3,0,0,0,0,0,0,23,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,18,0,2,0,1,15,5,190,0.0,0.0
461,암사동,1,29,3,8,3,2,23,0,22,...,69,1,1,1,1,29,12,422,4.0,0.0
462,성내동,1,54,3,14,4,4,35,19,34,...,125,1,1,1,0,60,25,994,3.0,2.0
463,천호동,3,51,3,7,3,5,47,6,37,...,141,2,1,1,0,44,22,1024,3.0,3.0
464,강일동,0,49,0,1,0,1,9,0,8,...,28,0,1,0,4,1,1,59,0.0,0.0

In [13]:
df = df['법정동'].value_counts()

In [14]:
merged_df = pd.merge(df1, df, left_on='법정동명', right_on='법정동', how='left')

In [15]:
df.head(30)

법정동
신림동     149
화곡동      90
길동       79
역삼동      78
영등포동     63
수유동      48
가락동      39
여의도동     36
삼성동      33
마곡동      31
장안동      29
서초동      28
봉천동      26
오류동      26
논현동      25
사당동      24
방이동      23
응암동      23
상계동      21
창동       18
도화동      18
시흥동      17
남현동      16
천호동      15
가산동      13
도선동      13
북창동      13
신사동      13
효제동      13
갈현동      12
Name: count, dtype: int64

In [16]:
merged_df = merged_df.rename(columns={'count': '유흥주점'})
merged_df['유흥주점'].fillna(0, inplace=True)
merged_df

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_12272\3779744.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['유흥주점'].fillna(0, inplace=True)

,법정동명,지하철역,버스정류소,서점,골프연습장업,목욕장업,석유판매업,세탁업,영화상영관,제과점영업,...,치안센터,경찰서,119안전센터,공원수,노래방수,당구장,음식점수,장보기시설,쇼핑시설,유흥주점
0,청운동,0,7,2,0,0,0,0,0,0,...,0,0,0,0,0,0,16,0.0,0.0,0.0
1,신교동,0,0,0,0,0,0,2,0,1,...,0,0,1,0,0,1,11,0.0,0.0,0.0
2,궁정동,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0.0,0.0,0.0
3,효자동,0,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,16,0.0,0.0,0.0
4,창성동,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,23,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,둔촌동,3,37,1,6,2,2,9,0,8,...,0,2,0,1,15,5,190,0.0,0.0,0.0
461,암사동,1,29,3,8,3,2,23,0,22,...,1,1,1,1,29,12,422,4.0,0.0,2.0
462,성내동,1,54,3,14,4,4,35,19,34,...,1,1,1,0,60,25,994,3.0,2.0,3.0
463,천호동,3,51,3,7,3,5,47,6,37,...,2,1,1,0,44,22,1024,3.0,3.0,15.0
464,강일동,0,49,0,1,0,1,9,0,8,...,0,1,0,4,1,1,59,0.0,0.0,0.0

In [17]:
merged_df.columns

Index(['법정동명', '지하철역', '버스정류소', '서점', '골프연습장업', '목욕장업', '석유판매업', '세탁업',
       '영화상영관', '제과점영업', '체력단련장업', '병원', '약국', '의원', '치안센터', '경찰서', '119안전센터',
       '공원수', '노래방수', '당구장', '음식점수', '장보기시설', '쇼핑시설', '유흥주점'],
      dtype='object')

In [18]:
merged_df.to_csv('편의시설 변경 버전.csv', index=False)