In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("latlng.bdong.txt", sep="\t")

In [3]:
new_columns = ['법정동코드', '주소수', '시도', '시군구', '읍면동', '리', '중심좌표']
a = df.columns

a

Index(['1111010100', '296', '서울특별시', '종로구', '청운동', 'Unnamed: 5',
       '37.587111,126.969069'],
      dtype='object')

In [4]:
import pandas as pd

# 주어진 인덱스 데이터
index_data = ['1111010100', '296', '서울특별시', '종로구', '청운동', 'Unnamed: 5', '37.587111,126.969069']

# 새로운 컬럼 이름
new_columns = ['법정동코드', '주소수', '시도', '시군구', '읍면동', '리', '중심좌표']

# 인덱스 데이터를 데이터프레임의 행으로 변환
# 여기서 index_data는 리스트 형태로, 각 요소가 새 데이터프레임의 컬럼 값이 됩니다.
df2 = pd.DataFrame([index_data], columns=new_columns)

print(df2)

        법정동코드  주소수     시도  시군구  읍면동           리                  중심좌표
0  1111010100  296  서울특별시  종로구  청운동  Unnamed: 5  37.587111,126.969069

In [5]:
df2

        법정동코드  주소수     시도  시군구  읍면동           리                  중심좌표
0  1111010100  296  서울특별시  종로구  청운동  Unnamed: 5  37.587111,126.969069

In [6]:
df

       1111010100  296    서울특별시   종로구  청운동 Unnamed: 5  37.587111,126.969069
0      1111010200  178    서울특별시   종로구  신교동        NaN  37.583911,126.968354
1      1111010300   20    서울특별시   종로구  궁정동        NaN  37.584381,126.971489
2      1111010400  131    서울특별시   종로구  효자동        NaN  37.582416,126.971670
3      1111010500  126    서울특별시   종로구  창성동        NaN  37.580363,126.972065
4      1111010600  177    서울특별시   종로구  통의동        NaN  37.578307,126.972872
...           ...  ...      ...   ...  ...        ...                   ...
18667  5013032022  651  제주특별자치도  서귀포시  표선면        하천리  33.348068,126.832421
18668  5013032023  774  제주특별자치도  서귀포시  표선면        성읍리  33.393144,126.794822
18669  5013032024  776  제주특별자치도  서귀포시  표선면        가시리  33.354784,126.771072
18670  5013032025  916  제주특별자치도  서귀포시  표선면        세화리  33.321147,126.798867
18671  5013032026  639  제주특별자치도  서귀포시  표선면        토산리  33.319789,126.774678

[18672 rows x 7 columns]

In [7]:
# 새로운 컬럼 이름 설정


# 현재 데이터프레임의 첫 번째 행을 새로운 컬럼 이름으로 사용합니다.
df.columns = new_columns

new = pd.concat([df2, df], ignore_index=True)
# # 데이터프레임의 인덱스를 재설정합니다.
# df.reset_index(drop=True, inplace=True)

# print(df)
new

            법정동코드  주소수       시도   시군구  읍면동           리                  중심좌표
0      1111010100  296    서울특별시   종로구  청운동  Unnamed: 5  37.587111,126.969069
1      1111010200  178    서울특별시   종로구  신교동         NaN  37.583911,126.968354
2      1111010300   20    서울특별시   종로구  궁정동         NaN  37.584381,126.971489
3      1111010400  131    서울특별시   종로구  효자동         NaN  37.582416,126.971670
4      1111010500  126    서울특별시   종로구  창성동         NaN  37.580363,126.972065
...           ...  ...      ...   ...  ...         ...                   ...
18668  5013032022  651  제주특별자치도  서귀포시  표선면         하천리  33.348068,126.832421
18669  5013032023  774  제주특별자치도  서귀포시  표선면         성읍리  33.393144,126.794822
18670  5013032024  776  제주특별자치도  서귀포시  표선면         가시리  33.354784,126.771072
18671  5013032025  916  제주특별자치도  서귀포시  표선면         세화리  33.321147,126.798867
18672  5013032026  639  제주특별자치도  서귀포시  표선면         토산리  33.319789,126.774678

[18673 rows x 7 columns]

In [8]:
new = new[new['시도'] == '서울특별시']
new

          법정동코드   주소수     시도  시군구  읍면동           리                  중심좌표
0    1111010100   296  서울특별시  종로구  청운동  Unnamed: 5  37.587111,126.969069
1    1111010200   178  서울특별시  종로구  신교동         NaN  37.583911,126.968354
2    1111010300    20  서울특별시  종로구  궁정동         NaN  37.584381,126.971489
3    1111010400   131  서울특별시  종로구  효자동         NaN  37.582416,126.971670
4    1111010500   126  서울특별시  종로구  창성동         NaN  37.580363,126.972065
..          ...   ...    ...  ...  ...         ...                   ...
462  1174010600  1132  서울특별시  강동구  둔촌동         NaN  37.531157,127.142891
463  1174010700  2760  서울특별시  강동구  암사동         NaN  37.552497,127.133010
464  1174010800  3963  서울특별시  강동구  성내동         NaN  37.531338,127.129174
465  1174010900  5861  서울특별시  강동구  천호동         NaN  37.543676,127.131748
466  1174011000   122  서울특별시  강동구  강일동         NaN  37.569204,127.171620

[467 rows x 7 columns]

In [9]:
# '중심좌표' 컬럼을 ','로 분리하고, 결과 리스트의 첫 번째와 두 번째 요소를 각각 새로운 컬럼에 할당합니다.
new[['위도', '경도']] = new['중심좌표'].str.split(',', expand=True)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9936\277127519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[['위도', '경도']] = new['중심좌표'].str.split(',', expand=True)
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9936\277127519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[['위도', '경도']] = new['중심좌표'].str.split(',', expand=True)

In [10]:
new = new.drop(axis=1, columns=['중심좌표'])

In [11]:
new = new.drop(axis=1, columns=['리','법정동코드', '주소수', '시도'])

In [12]:
new

     시군구  읍면동         위도          경도
0    종로구  청운동  37.587111  126.969069
1    종로구  신교동  37.583911  126.968354
2    종로구  궁정동  37.584381  126.971489
3    종로구  효자동  37.582416  126.971670
4    종로구  창성동  37.580363  126.972065
..   ...  ...        ...         ...
462  강동구  둔촌동  37.531157  127.142891
463  강동구  암사동  37.552497  127.133010
464  강동구  성내동  37.531338  127.129174
465  강동구  천호동  37.543676  127.131748
466  강동구  강일동  37.569204  127.171620

[467 rows x 4 columns]

In [16]:
df = pd.read_csv("데이터 넣기용 동.csv")
df

,dong_name,safety_cnt,leisure_cnt,food_cnt,health_cnt,conv_cnt,transp_cnt,cafe_cnt,pub_cnt
0,청운동,36,0,18,0,1,7,8,0
1,신교동,17,0,8,1,0,0,1,0
2,궁정동,2,0,1,0,0,1,1,0
3,효자동,0,0,11,0,0,2,4,0
4,창성동,2,1,22,4,2,2,2,0
...,...,...,...,...,...,...,...,...,...
460,둔촌동,223,10,177,34,19,40,35,2
461,암사동,485,19,356,92,38,30,65,12
462,성내동,559,57,915,170,61,55,129,18
463,천호동,834,24,950,205,78,54,122,34
464,강일동,63,3,66,41,15,49,16,0

In [19]:
merged = pd.merge(df, new, left_on='dong_name', right_on='읍면동', how='left' )

In [21]:
merged.isnull().sum()

dong_name      0
safety_cnt     0
leisure_cnt    0
food_cnt       0
health_cnt     0
conv_cnt       0
transp_cnt     0
cafe_cnt       0
pub_cnt        0
시군구            0
읍면동            0
위도             0
경도             0
dtype: int64

In [22]:
merged = merged.drop(axis=1, columns=['읍면동'])

In [31]:
gu = pd.read_csv("자치구.csv", sep=';', encoding='cp949')

In [33]:
merged = merged.rename(columns={'시군구' : 'gu_id', '위도' : 'dongx', '경도' : 'dongy'})

In [35]:
# 두 번째 데이터프레임을 이용해 구 이름을 ID로 매핑하는 딕셔너리 생성
gu_name_to_id = pd.Series(gu.gu_id.values,index=gu.gu_name).to_dict()

# 첫 번째 데이터프레임의 gu_id 컬럼을 구 이름에서 ID로 변경
merged['gu_id'] = merged['gu_id'].map(gu_name_to_id)

In [39]:
merged

,dong_name,safety_cnt,leisure_cnt,food_cnt,health_cnt,conv_cnt,transp_cnt,cafe_cnt,pub_cnt,gu_id,dongx,dongy
0,청운동,36,0,18,0,1,7,8,0,23,37.587111,126.969069
1,신교동,17,0,8,1,0,0,1,0,23,37.583911,126.968354
2,궁정동,2,0,1,0,0,1,1,0,23,37.584381,126.971489
3,효자동,0,0,11,0,0,2,4,0,23,37.582416,126.971670
4,창성동,2,1,22,4,2,2,2,0,23,37.580363,126.972065
...,...,...,...,...,...,...,...,...,...,...,...,...
462,둔촌동,223,10,177,34,19,40,35,2,2,37.531157,127.142891
463,암사동,485,19,356,92,38,30,65,12,2,37.552497,127.133010
464,성내동,559,57,915,170,61,55,129,18,2,37.531338,127.129174
465,천호동,834,24,950,205,78,54,122,34,2,37.543676,127.131748
466,강일동,63,3,66,41,15,49,16,0,2,37.569204,127.171620

In [72]:
merged

,dong_name,safety_cnt,leisure_cnt,food_cnt,health_cnt,conv_cnt,transp_cnt,cafe_cnt,pub_cnt,gu_id,dongx,dongy
0,청운동,36,0,18,0,1,7,8,0,23,37.587111,126.969069
1,신교동,17,0,8,1,0,0,1,0,23,37.583911,126.968354
2,궁정동,2,0,1,0,0,1,1,0,23,37.584381,126.971489
3,효자동,0,0,11,0,0,2,4,0,23,37.582416,126.971670
4,창성동,2,1,22,4,2,2,2,0,23,37.580363,126.972065
...,...,...,...,...,...,...,...,...,...,...,...,...
462,둔촌동,223,10,177,34,19,40,35,2,2,37.531157,127.142891
463,암사동,485,19,356,92,38,30,65,12,2,37.552497,127.133010
464,성내동,559,57,915,170,61,55,129,18,2,37.531338,127.129174
465,천호동,834,24,950,205,78,54,122,34,2,37.543676,127.131748
466,강일동,63,3,66,41,15,49,16,0,2,37.569204,127.171620

In [82]:
merged

,dong_name,safety_cnt,leisure_cnt,food_cnt,health_cnt,conv_cnt,transp_cnt,cafe_cnt,pub_cnt,gu_id,dongx,dongy
0,청운동,36,0,18,0,1,7,8,0,23,37.587111,126.969069
1,신교동,17,0,8,1,0,0,1,0,23,37.583911,126.968354
2,궁정동,2,0,1,0,0,1,1,0,23,37.584381,126.971489
3,효자동,0,0,11,0,0,2,4,0,23,37.582416,126.971670
4,창성동,2,1,22,4,2,2,2,0,23,37.580363,126.972065
...,...,...,...,...,...,...,...,...,...,...,...,...
462,둔촌동,223,10,177,34,19,40,35,2,2,37.531157,127.142891
463,암사동,485,19,356,92,38,30,65,12,2,37.552497,127.133010
464,성내동,559,57,915,170,61,55,129,18,2,37.531338,127.129174
465,천호동,834,24,950,205,78,54,122,34,2,37.543676,127.131748
466,강일동,63,3,66,41,15,49,16,0,2,37.569204,127.171620

In [90]:
merged.to_csv("데이터 넣기용 동.csv", encoding='cp949', index=0)